.LoginPage{

background-color:rgb(101, 101, 101);
color: aliceblue;
width:25%;
padding:2% 4%;
margin:5% auto;
border-radius:3rem;
box-shadow: 5px 4px 15px #888888;
button{
    width:100%;
}
h2{
    text-align:center;
}
}

